body {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    background: linear-gradient(to right, #4c4b4a 0%, #000000 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.signup-login {
    color: red;
    /* margin-left: 40px; */
    font-size: 20px;
    font-weight: 900;
    border: 2px solid white;
    padding: 10px;
    border-radius: 35px;
    background-color: white;
    text-decoration: none; /* Optional: Remove underline from the link */
    display: inline-block; /* Ensure padding behaves consistently */
  }
  
  .signup-login:hover {
    background-color: red; /* Add hover effect for better interactivity */
    color: white;
    transition: 0.3s ease; /* Smooth transition for hover effect */
  }
  
#searchbox {
    padding: 12px;
    width: 900px;
    margin: 30px 0;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 500;
    font-size: 26px;
    /* position: relative; */
    height: 60px;

}

input{
    padding: 12px;
    width: 245px;
    margin: 30px 0;
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 500;
    font-size: 26px;
    /* position: absolute; */
    /* margin-bottom: 80px; */
    margin-left: 500px;
    /* height: 65px; */
    margin-top: -105px;

}

select{
    padding: 12px;
    width: 150px;
    margin-top: -100px;
    margin-left: 765px;
    border: none;
    border-radius: 25px;
    outline: none;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease-in-out;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 500;
    font-size: 26px;
    /* position: absolute; */
    height: 70px;

}

input:focus {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
select:focus {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
#searchbox:focus {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #000000 50%, #4c4b4a 100% );
}
nav{
    /* border: 2px solid red; */
    height: 100px;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#heading{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-size: 45px;
    /* border: 2px solid yellow; */
    /* width: 9%; */
    padding: 0px 5px;
    text-align: center;
    border-radius: 5%;
    background-color: #E2B616;
    /* margin-left: 40px; */
    cursor: pointer;
}
.detailsnav{
    /* border: 2px solid red; */
    background: linear-gradient(to right, #000000 50%, #4c4b4a 100% );
    width: 100%;
}
.detailsnav h1{
    margin-left: 20px;
}


button {
    border:2px solid white;
    margin: 10px;
    padding: 12px 25px;
    background-color: #da200f;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 20px;

}

button:hover {
    background-color: #ff3d3d;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
#welcome-message{
    /* border: 2px solid red; */
    /* margin-left: 400px; */
    margin-top: 40px;
    color: white;
    /* width: 1000px; */
    text-align: center;
    width: 40%;
}
#menu{
    /* border: 2px solid white; */
    margin-left: 450px; 
    margin-bottom: 50px;
}
#menu:hover{
    background-color: #da200f;
}
#options li{
    text-decoration: underline;
}

#omdbMovies {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1300px;
    /* border: 2px solid red; */

}

.movie-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.movie-card h1 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #333;
}

.movie-card img {
    /* border: 2px solid red; */
    border-radius: 10px;
    margin-bottom: 15px;
    width: 80%;
    /* max-width: 100%; */
    height: 280px;
    transition: transform 0.3s ease-in-out;
}

.movie-card img:hover {
    transform: scale(1.05);
}

.movie-card h5 {
    font-size: 16px;
    color: #777;
    margin: 0;
}

#suggestions {
    /* border: 2px solid red; */
    /* border: 1px solid #ccc; */
    max-height: 200px;
    overflow-y: auto;
    /* position: absolute; */
    background-color: white;
    width: 200px;
    /* z-index: 1000; */
    margin-left: -670px;
    margin-top: 6px;
}

#suggestions div {
    padding: 8px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}
#details{
    background: linear-gradient(90deg,#E2B616  30%,#E2B616 100%);
    background-repeat: repeat;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    text-align: center;
}
li{
    gap: -100px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
h1{
    transition: transform 0.45s ease-in-out;
}
h1:hover{
    transform: scale(1.2);

}
h2{
    letter-spacing: 0.5px;
    margin-bottom: 35px;
    transition: transform 0.45s ease-in-out;
}
h2:hover{
    transform: scale(1.05);
}

#movie-details{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Roboto Condensed'; */
    font-weight: 900;
    color: lightgray;
    display: none;
}

img {
    /* border: 2px solid red; */
    border-radius: 10px;
    /* margin-bottom: 15px; */
    width: auto;
    /* max-width: 100%; */
    height: 280px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

#image{
    /* border: 2px solid red; */
    width: 245px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 330px;
    background-color: #000000;
    /* margin-left: 560px; */
    transition: transform 0.3s ease-in-out;
}

#image:hover{
    transform: scale(1.05);
}

/* * PAGE INATION */

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 10px;
}
/* Pagination buttons */
.page-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
}

.page-button:hover {
    background-color: #666;
    transform: translateY(-2px);
}

/* Active page button */
.page-button.active {
    background-color: #DA200F;
    color: white;
    font-weight: bold;
}
.searchbar{
    display: flex;
    flex-direction: column;
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Responsive Design */
@media (max-width: 600px) {
    .page-button {
        padding: 0 px;
        font-size: 8px;
    }
}

/* Pagination container alignment for mobile */
@media (max-width: 400px) {
    #pagination {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
.navbar{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* height: 200px; */
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.detailsnav{
    padding: 40px 0px;
}
.detailsnav h1{
    position: absolute;
    left: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding:0px;
    margin: 0px;
    /* gap: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height: auto;
    padding: 10px 0px;
}
nav h1{
    padding: 0px;
    margin: 0px;
}

#heading{
    font-size: 30px;
    margin: 0px;
}
#welcome-message{
    margin: 0px;
    font-size: 25px;
    text-decoration: underline;
}
.signup-login{
    margin: 0px;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    width: 55px;
    text-align: center;
}
.searchbar{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 10px;
    gap: 10px;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}
.searchbar:hover #searchbox{
    box-shadow: 6px 6px 10px white;
}
.searchbar #searchbox{
    width: 400px;
    margin: 0px;
    height: 30px;
    text-align: left;
    position: relative;
    font-size: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.searchbar #yearbox{
    position: absolute;
    top: 108.5px;
    right: 20px;
    width: 170px;
    height: 28px;
    text-align: left;
    border-left: 5px solid black;
    font-size: 20px;
}
.searchbar input{
    margin: 0px;
    width: 100%;
}
#typebox{
    position: absolute;
    right: 18px;
    margin: 0px;
    height: 53px;
    padding: 0px;
    width: 120px;
    border-left: 5px solid black;
    font-size: 20px;
}
.searchbtn{
    margin: 0px;
    padding: 2px 10px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 18px;
    box-shadow: 10px 10px 10px black;
}
.block{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    
}
section{
    /* border: 2px solid red; */
    padding: 0px;
    margin: 0px;
}
#pagination{
display: flex;
flex-direction: row;
/* border: 2px solid red; */
gap: 0px;
width: 98;
margin:10px;
margin-bottom: 0px;
}
/* Pagination buttons */
.page-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 12px;
    border-radius: 50%;
    width: auto;
    text-align: center;
}

.page-button:hover {
    background-color: #666;
    transform: translateY(-2px);
}

/* Active page button */
.page-button.active {
    background-color: #DA200F;
    color: white;
    font-weight: bold;
}
.movie-card{
    /* border: 2px solid red; */
    width: 170px;
    padding: 10px;
}
.movie-card img{
    height: 210px;
    margin-bottom: 10px;
}
#omdbMovies{
    /* border: 2px solid red; */
    padding: 0px;
}
#suggestions {
    /* border: 2px solid red; */
    /* border: 1px solid #ccc; */
    max-height: 200px;
    overflow-y: auto;
    /* position: absolute; */
    background-color: white;
    width: 200px;
    /* z-index: 1000; */
    /* margin-left: -670px; */
    margin-left:-190px;
    margin-bottom: 10px;
    margin-top: -9px;
    border: 1px solid black;
}
}
